.instructors-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;

    .example-card {
        flex: 0 0 400px; // fixed width
        height: 254px; // fixed height for all cards
        box-sizing: border-box;
        display: flex;
        flex-direction: column; // keep header, content, actions stacked
    }
}

.example-card {
    .example-header-image {
        background-image: url('/project.jpg');
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    mat-card-content {
        flex: 1; // makes content expand to fill available height
        overflow: autos; // scroll if content is too long
    }

    mat-card-actions {
        display: flex;
        justify-content: space-between;
    }
}